### CUSTOM ###
application-local.yml
tmp
data/pdf/*.pdf
data/pdf/*.properties
# 误解压的 jar 内容与编译产物（仅项目根目录）
/META-INF/
/com/
/org/
*.class

### BACKEND ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### FRONTEND ###
node_modules/
dist/
.env
.env.local
.env.*.local

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Git ###
.DS_Store
Thumbs.db